# Vector tile URL template for street line geometries
NEXT_PUBLIC_STREETS_TILES_URL=http://localhost:3001/streets/{z}/{x}/{y}

# Name of the vector layer inside the tile source that contains street features (should match the function name created by the BE)
NEXT_PUBLIC_STREETS_SOURCE_LAYER=streets

# MapLibre style JSON URL
NEXT_PUBLIC_MAP_STYLE_URL=https://api.maptiler.com/maps/dataviz-v4/style.json?key=Nhq42ckkTem6oVbyylb3
